**Array**

1). Write a Python program to create an array of 5 integers and display the array items.
Access individual element through indexes.

In [ ]:
l=[2,15,23,39,43]

for i in range(len(l)):
  print(l[i])

2
15
23
39
43

2). Write a Python program to reverse the order of the items in the array.

In [ ]:
l=[2,15,23,39,43]

l.reverse()

print(l)

[43, 39, 23, 15, 2]

3). Write a Python program to get the number of occurrences of a specified element in an
array.

In [ ]:
l=list(map(int,input().split()))
s=int(input())

f=0

for i in l:
  if i==s:
    f+=1
print(f)

2 5 6 1 2 8 9 2 4
2
3

4). Write a Python program to remove the first occurrence of a specified element from an
array.

In [ ]:
l=list(map(int,input().split()))
s=int(input())

l.remove(s)

print(l)

2 5 6 1 2 8 9 2 4
2
[5, 6, 1, 2, 8, 9, 2, 4]