**Dictionary**

1). Write a Python script to sort (ascending and descending) a dictionary by
value.

In [ ]:
s=input()
d=dict()

for i in s:
  if i.lower() not in d:
    d[i.lower()]=0
  d[i.lower()]+=1

print(sorted(d.items()))
print(sorted(d.values()))
print(sorted(d.items())[::-1])

SanskarSinghai
[('a', 3), ('g', 1), ('h', 1), ('i', 2), ('k', 1), ('n', 2), ('r', 1), ('s', 3)]
[1, 1, 1, 1, 2, 2, 3, 3]
[('s', 3), ('r', 1), ('n', 2), ('k', 1), ('i', 2), ('h', 1), ('g', 1), ('a', 3)]

2). Write a Python script to add a key to a dictionary.

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
d={0:10,1:20}

k=int(input())
v=int(input())

d[k]=v

print(d)

2
30
{0: 10, 1: 20, 2: 30}

3). Write a Python script to concatenate following dictionaries to create a new
one.

Sample Dictionary :

dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
d1={1:10,2:20}
d2={3:30,4:40}
d3={5:50,6:60}

d=dict()

for i in d1.keys():
  d[i]=d1[i]

for i in d2.keys():
  d[i]=d2[i]

for i in d3.keys():
  d[i]=d3[i]

print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

4). Write a Python program to iterate over dictionaries using for loops.

In [ ]:
d={1:10,2:20,3:30,4:40,5:50,6:60}

for i in d.keys():
  print("Key =",i,"Value =",d[i])

Key = 1 Value = 10
Key = 2 Value = 20
Key = 3 Value = 30
Key = 4 Value = 40
Key = 5 Value = 50
Key = 6 Value = 60

5). Write a Python script to generate and print a dictionary that contains a
number (between 1 and n) in the form (x, x*x).

Sample Dictionary ( n = 5) :

Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
n=int(input())

d=dict()

for i in range(1,n+1):
  d[i]=i*i

print(d)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

6). Write a Python program to remove a key from a dictionary.

In [ ]:
d={1:10,2:20,3:30,4:40,5:50,6:60}

r=int(input())

d.pop(r)

print(d)

3
{1: 10, 2: 20, 4: 40, 5: 50, 6: 60}

7). Write a Python program to print all unique values in a dictionary.

Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},
{"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [ ]:
l=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},
{"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

v=set()

for i in l:
  v.add(*i.values())
print(v)

{'S002', 'S005', 'S009', 'S007', 'S001'}

8). Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.

Sample string : 'w3resource'

Expected output: {'3': 1, 's': 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

In [ ]:
s=input()

d=dict()

for i in s:
  if i not in d.keys():
    d[i]=0
  d[i]+=1

print(d)

w3resource
{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

9). Write a Python program to print a dictionary in table format.

In [ ]:
d={1:10,2:20,3:30,4:40,5:50,6:60}

print("Keys\t\tValues")
for i in d:
  print(i,"\t\t",d[i])

Keys		Values
1 		 10
2 		 20
3 		 30
4 		 40
5 		 50
6 		 60

10). Write a Python program to count the values associated with key in a
dictionary.

Sample data: = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success':
False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]

Expected result: Count of how many dictionaries have success as True

In [ ]:
d=[{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success':False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]

t=0

for i in d:
  if i['success']==True:
    t+=1

print(t)

2

11). Write a Python program to convert a list into a nested dictionary of keys.

In [ ]:
l=[1,2,3,4,5]
a=b={}
for i in l:
  a[i]={}
  a=a[i]
print(b)

{1: {2: {3: {4: {5: {}}}}}}

12). Write a Python program to check multiple keys exists in a dictionary.

In [ ]:
d={2:3,1:2,2:4,3:6}
k=int(input())

if k in d.keys():
  print("keys exist")
else:
  print("keys not exist")

2
keys exist

13). Write a Python program to count number of items in a dictionary value
that is a list.

In [ ]:
d={1:1,2:[2,4],3:[3,6,9]}
c=0
for i in d:
  if type(d[i])==list:
    c+=len(d[i])
print(c)

5