**List**

1). Write a Python program to sum all the items in a list.

In [ ]:
l=[2,5,6,7,15,13,25,11,15,22,39]

print(sum(l))

160

2). Write a Python program to multiplies all the items in a list.

In [ ]:
l=[2,5,6,7,15,13,25,11,15,22,39]
m=1
for i in l:
  m*=i
print(m)

289864575000

3). Write a Python program to get the smallest number from a list.

In [ ]:
l=[2,5,6,7,15,13,25,11,15,22,39]

print("Smallest number =",min(l))

Smallest number = 2

4). Write a Python program to count the number of strings where the string length
is 2 or more and the first and last character are same from a given list of strings.

Sample List : ['abc', 'xyz', 'aba', '1221']

Expected Result : 2

In [ ]:
l=['abc', 'xyz', 'aba', '1221','amit sharma','saas','t']
c=0
for i in l:
  if len(i)>1 and i[0]==i[-1]:
    c+=1
print(c)

4

5). Write a Python program to get a list, sorted in increasing order by the last
element in each tuple from a given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
l=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

l.sort(key=lambda i:i[-1])
print(l)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

6). Write a Python program to remove duplicates from a list.

In [ ]:
l=[33,15,25,31,54,98,33,19,15,9,7,25]
print(l)
s=set(l)
l=list(s)
print(l)

[33, 15, 25, 31, 54, 98, 33, 19, 15, 9, 7, 25]
[33, 98, 7, 9, 15, 19, 54, 25, 31]

7). Write a Python program to clone or copy a list.

In [ ]:
l=[2,5,6,7,15,13,25,11,15,22,39]

co=l.copy()

print(co)

[2, 5, 6, 7, 15, 13, 25, 11, 15, 22, 39]

8). Write a Python program to find the list of words that are longer than n from a
given list of words.

In [ ]:
l=['abc', 'xyz', 'aba', '1221','amit sharma','saas','t']

n=int(input())
a=list()
for i in l:
  if len(i)>n:
    a.append(i)

print(a)

3
['1221', 'amit sharma', 'saas']

9). Write a Python function that takes two lists and returns True if they have at
least one common member.

In [ ]:
def common_member(l1,l2):
  s1=set(l1)
  s2=set(l2)
  si=s1.intersection(s2)

  if len(si)!=0:
    return True
  else:
    return False

l1=["Red","Blue","Green"]
l2=["Green","Red","Brown"]

print(common_member(l1,l2))

True

10). Write a Python program to print a specified list after removing the 0th, 4th and
5th elements.

Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

Expected Output : ['Green', 'White', 'Black']

In [ ]:
l=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

a=l[0]
b=l[4]
c=l[5]
l.remove(a)
l.remove(b)
l.remove(c)

print(l)

['Green', 'White', 'Black']

11). Write a Python program to generate all permutations of a list in Python.

In [ ]:
from itertools import permutations as p

l=[33,15,25]

pr=p(l)

for i in pr:
  print(i)

(33, 15, 25)
(33, 25, 15)
(15, 33, 25)
(15, 25, 33)
(25, 33, 15)
(25, 15, 33)

12). Write a Python program to get the difference between the two lists.

In [ ]:
l1=["Red","Blue","Green"]
l2=["Green","Red","Brown"]

s1=set(l1)
s2=set(l2)

s=s1.difference(s2)
l=list(s)

print(l)

['Blue']

13). Write a Python program to append a list to the second list.

In [ ]:
l1=["Red","Blue","Green"]
l2=["Green","Red","Brown"]

for i in l1:
  l2.append(i)
print(l2)

['Green', 'Red', 'Brown', 'Red', 'Blue', 'Green']

14). Write a python program to check whether two lists are circularly identical.

In [2]:
l1=list(map(int,input().split()))
l2=list(map(int,input().split()))

f=0

for i in range(0,len(l1)):
  a=l1[i:]+l1[:i]
  if a==l2:
    f=1
    break
if f==1:
  print("Given lists are circularly identical")
else:
  print("Given lists are not circularly identical")

9 8 2 6 1
2 6 1 9 8
Given lists are circularly identical

15). Write a Python program to find common items from two lists.

In [ ]:
l1=["Red","Blue","Green","Red"]
l2=["Green","Red","Brown","Red"]

a=list()

for i in l1:
  if i in l2:
    a.append(i)
    l2.remove(i)
print(a)

['Red', 'Green', 'Red']

16). Write a Python program to split a list based on first character of word.

In [ ]:
l=['abc', 'xyz', 'aba', '1221','amit sharma','saas','t']

s=input()
a=list()
for i in l:
  a.append(i.split(s[0]))
print(a)

ankur
[['', 'bc'], ['xyz'], ['', 'b', ''], ['1221'], ['', 'mit sh', 'rm', ''], ['s', '', 's'], ['t']]

17). Write a Python program to remove duplicates from a list of lists.

Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]

New List : [[10, 20], [30, 56, 25], [33], [40]]

In [ ]:
l=[[1,2,3],[2,4,6,8],[4,8,12],[2,4,6,8]]

for i in l:
  if l.count(i)>1:
    l.remove(i)
print(l)

[[1, 2, 3], [4, 8, 12], [2, 4, 6, 8]]