**Sets**

1). Write a Python program to create a set.

In [ ]:
s={2,3,5,2,1,5,7,8,6}

print(s)
print(type(s))

{1, 2, 3, 5, 6, 7, 8}
<class 'set'>

2). Write a Python program to iteration over sets.

In [ ]:
s={2,3,5,2,1,5,7,8,6}

for i in s:
  print(i)

1
2
3
5
6
7
8

3). Write a Python program to add member(s) in a set.

In [ ]:
s={2,3,5,2,1,5,7,8,6}

a=int(input())

s.add(a)
print(s)

10
{1, 2, 3, 5, 6, 7, 8, 10}

4). Write a Python program to remove item(s) from set

In [ ]:
s={2,3,5,2,1,5,7,8,6}

a=int(input())
print(s)
s.remove(a)
print(s)

2
{1, 2, 3, 5, 6, 7, 8}
{1, 3, 5, 6, 7, 8}

5). Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
s={2,3,5,2,1,5,7,8,6}

a=int(input())
print(s)

if a in s:
   s.remove(a)

print(s)

10
{1, 2, 3, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}

6). Write a Python program to create an intersection of sets.

In [ ]:
s1={"Red","Blue","Green"}
s2={"White","Red","Brown"}

s=s1.intersection(s2)
print(s)

{'Red'}

7). Write a Python program to create a union of sets.

In [ ]:
s1={"Red","Blue","Green"}
s2={"White","Red","Brown"}

s=s1.union(s2)
print(s)

{'Blue', 'Brown', 'White', 'Red', 'Green'}

8). Write a Python program to create set difference.

In [ ]:
s1={"Red","Blue","Green"}
s2={"White","Red","Brown"}

s=s1.difference(s2)
print(s)

{'Blue', 'Green'}

9). Write a Python program to create a symmetric difference.

In [ ]:
s1={"Red","Blue","Green"}
s2={"White","Red","Brown"}

s=s1.symmetric_difference(s2)
print(s)

{'Blue', 'Green', 'Brown', 'White'}

10). Write a Python program to clear a set.

In [ ]:
s={"Red","Blue","Green"}

print(s)

s.clear()

print(s)

{'Blue', 'Red', 'Green'}
set()

11). Write a Python program to use of frozensets.

In [ ]:
s={"Red","Blue","Green"}

print(frozenset(s))

frozenset({'Blue', 'Red', 'Green'})

12). Write a Python program to find maximum and the minimum value in a set.

In [ ]:
s={2,3,5,2,1,5,7,8,6}

print("Maximum element =",max(s))
print("Minimum element =",min(s))

Maximum element = 8
Minimum element = 1