**Tuple**

1). Write a Python program to create a tuple.

In [ ]:
t=(4,5,2,6,11,17,14,15)

print(t)
print(type(t))

(4, 5, 2, 6, 11, 17, 14, 15)
<class 'tuple'>

2). Write a Python program to create a tuple with different data types.

In [ ]:
t=(2,'sanskar',"singhai",True,2.3,2)

print(t)
print(type(t))

(2, 'sanskar', 'singhai', True, 2.3, 2)
<class 'tuple'>

3). Write a Python program to unpack a tuple in several variables.

In [ ]:
t=(1,2,3)
a,b,c=t

print(a)
print(b)
print(c)

1
2
3

4). Write a Python program to create the colon of a tuple.

In [ ]:
t=(4,5,2,6,11,17,14,15)

co=t
print(co)

(4, 5, 2, 6, 11, 17, 14, 15)

5). Write a Python program to find the repeated items of a tuple.

In [ ]:
t=tuple(input().split())
s=set(t)

for i in s:
  if t.count(i)>1:
    print(i)

11 16 12 22 11 21 45 16 27 21
16
21
11

6). Write a Python program to check whether an element exists within a tuple.

In [ ]:
t=tuple(input().split())
s=input()

if s in t:
  print("Exist")
else:
  print("Not exist")

11 16 12 22 11 21 45 16 27 21
22
Exist

7). Write a Python program to convert a list to a tuple.

In [ ]:
l=list(input().split())
t=tuple(l)
print(type(l))
print(t)
print(type(t))

11 16 12 22 11 21 45 16 27 21
<class 'list'>
('11', '16', '12', '22', '11', '21', '45', '16', '27', '21')
<class 'tuple'>

8). Write a Python program to remove an item from a tuple.

In [ ]:
t=tuple(input().split())
r=input()

l=list(t)
l.remove(r)
a=tuple(l)

print(a)

11 16 12 22 11 21 45 16 27 21
12
('11', '16', '22', '11', '21', '45', '16', '27', '21')

9). Write a Python program to slice a tuple.

In [ ]:
t=tuple(input().split())

print(t[:2])
print(t[2:])

11 16 12 22 11 21 45 16 27 21
('11', '16')
('12', '22', '11', '21', '45', '16', '27', '21')

10). Write a Python program to reverse a tuple.

In [ ]:
t=tuple(input().split())

print(t[::-1])

11 16 12 22 11 21 45 16 27 21
('21', '27', '16', '45', '21', '11', '22', '12', '16', '11')